! file:     ~/.Xresources
! author:   STxza
! vim:enc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

! {{{ Xft
Xft.autohint:           true
Xft.antialias:          true
Xft.dpi:                96
Xft.hinting:            true
Xft.hintstyle:          hintslight
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault
! }}}
